version: "3"
services:

  app:
    build:
      context: .
      target: development      
    ports:
      - 3000:3000
    volumes:
      - ${PWD}:/app
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    user: root
    # entrypoint: tail -f /dev/null

